.App {
  text-align: center;
  color: black;
}

.Center{
  display:flex !important;
  justify-content: center !important; 
  align-items: center !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.filterButton{
  border-radius: 16px !important; 
  color: var(--text-purple-color) !important;  
  background-color: white !important;  
  border: 1px solid !important; /* Default border */
  width: 16%  !important; /* Default border */
  text-transform: none;
}

.selectedButton {
  background-color: var(--text-purple-color) !important;  
  color: white !important;  
}

.button{
  border-radius: 16px !important;
  background-color: var(--main-purple-color) !important;  
  color: white !important; 
}
 
.searchField {
  margin-top: 3vw;
  display: flex;
  align-items: stretch;
  background-color: var(--text-purple-color);
  border-radius: 64px;
  padding: 1px 24px;
  justify-content: stretch;  
  width: 50%
}

.searchInput {
  color: white;
  width: 100%;
  height: 100%;
  & .MuiInputBase-root:before, & .MuiInputBase-root:after {
    border-bottom: none;
  }
  & .MuiInputBase-root:hover:not(.Mui-disabled):before {
    border-bottom: none;
  }
  & .MuiInputBase-input {
    padding: 8px 4px;
  }
} 

.NewTopic {
  border-radius: 64px !important;
  background-color: var(--main-purple-color) !important;  
  color: white !important; 
  width: 30%;
  cursor: pointer;
  text-transform: none;
}

.CardContainer {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  gap: 80px;
  flex-wrap: wrap;

  /* @media (max-width: 1100px) {
    flex-direction: column;
  } */
}

.topButton {
  position: fixed !important;
  bottom: 10px !important; /* Adjusted to not overlap with other fixed button */
  right: 20px !important;
  background-color: #1B1736 !important;
  color: white !important; 
  text-transform: none;
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}