.Drawer {
  /* background-color: var(--main-purple-color); */
  width: 100vw;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.2rem;
  height: 200vw;
}

.SideButtons {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.User {
  /* font-size: 1.25rem; */
  /* font-weight: 500; */
  width: 80%;
  text-align: center;
  margin-top:2rem;
}
