.MainHeader {
  background-color: var(--main-purple-color);
  padding-top: 1rem;
}

.User {
  /* font-size: 1.25rem; */
  /* font-weight: 500; */
  width: 340px;
}

.MainButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SideButtons {
  width: 340px;
  display: flex;
  justify-content: space-between;
}

.ContainedButton {
  background-color: black;
  text-transform: none;
  width: 150px;
  margin-right: 40px;
}

.OutlinedButton {
  border: solid 1px white;
  color: white;
  text-transform: none;
  width: 150px;
}